{% extends "base.html" %}
{% block content %}
<div class="card">
  <h2>🔐 Login</h2>

  <form method="POST" action="{{ url_for('auth.login') }}">

    <div class="input-group">
      <input type="text"
             name="username"
             placeholder="Username"
             autocomplete="off"
             required />
    </div>

    <div class="input-group">
      <input type="email"
             name="email"
             placeholder="Email"
             autocomplete="off"
             required />
    </div>

    <div class="input-group">
      <input type="password"
             name="password"
             placeholder="Password"
             autocomplete="new-password"
             required />
<!--      <span class="toggle-password">👁️</span>-->
    </div>

    <button type="submit">Login</button>
  </form>

  <div class="links">
    <a href="{{ url_for('auth.register') }}">Register</a> |
    <a href="{{ url_for('auth.forgot') }}">Forgot Password?</a>
  </div>
</div>
{% endblock %}
